body{
    background-color: floralwhite ;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11pt;
}

h1 {
    color: red;
    margin-top : 0px;
}



div.CenterPage {
    background-color: #fffbf9;
    width: 900px;
    margin-top: 20px;
    margin-left : auto;
    margin-right: auto;

    border: groove 2px  white;
    padding : 5px;
}

div.MainCenterPage {
    background-color: #fffbf9;
    width: 900px;
    margin : 0 auto 0 auto;
    border: groove 2px  white;
    padding : 5px;
}


div.LoginPage {
    background-color: #fffbf9;
    width: 600px;
    height:200px;
    margin: 150px auto auto auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    border: groove 2px  white;
    padding : 5px;
}

div.StartPage {
    background-color: #fffbf9;
    width: 600px;
    height:250px;
    margin: auto auto auto auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    border: groove 2px  white;
    padding : 5px;
}


form.login {
    width: 400px;
    margin-top: 20px;
    margin-left : auto;
    margin-right: auto;
}

table.people {
    margin-top: 20px;
    border-collapse: collapse; /* so we can control cellspacing in a practical way */
    border-bottom:0; /* you may not want the bottom of your table have spacing */
}

table.people th,
table.people td {
    padding: 2px;
    text-align: left;

    border: 0px solid #000; /* this can be seen as cellspacing... */
    border-bottom:0;
    padding-right: 20px;
}

/* you may not want the top of your table have spacing */
table.people th {
    border-top: 0;
}

/* you may not want the left most and right most side of your table have spacing */
table.people th.first,
table.people td.name {
    border-left: 0;
}

table.people th.last,
table.people td.dateOfBirth {
    border-right: 0;
}

table.people th {
    background-color: #dd2640;
    color: #ffff00;
}

table.people tr.odd {
    background-color: #ffffd2;
}

table.people tr.even {
    background-color: #e5fbe8;
}
